<h3>Welcome Artists </h3>

<% @pending_appointments.each do |pending_appointment| %>
<p><%=pending_appointment.location%></p>
<p><%=pending_appointment.date%></p>
<p><%=pending_appointment.time%></p>
<p><%=pending_appointment.confirmation%></p>

<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "yes") %>
<%= submit_tag "Yes" %>
<% end %>
<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "no") %>
<%= submit_tag "No" %>
<% end %>
<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "pending") %>
<%= submit_tag "Maybe" %>
<% end %>
<% end %>

<%= month_calendar partial: 'simple_calendar/calendar', events: @appointments do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <%= @clients.find(appointment.client_id).full_name %>
    </div>
  <% end %>
<% end %>


