<h3>Welcome Artists </h3>
<p><%= @current_makeup_artist.full_name %>'s Schedule</p>

<% @pending_appointments.each do |pending_appointment| %>
<p><%=pending_appointment.location%></p>
<p><%=pending_appointment.date.strftime("%A, %b %d")%></p>
<p><%=pending_appointment.time.strftime("%I:%M %p")%></p>
<p><%=pending_appointment.confirmation%></p>

<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "yes") %>
<%= submit_tag "Yes", :class => "btn btn-info btn-sm" %>
<% end %>
<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "no") %>
<%= submit_tag "No", :class => "btn btn-danger btn-sm" %>
<% end %>
<%= form_tag "/appointments/#{pending_appointment.id}", method: :patch do %>
<%= hidden_field_tag(:confirmation, "pending") %>
<%= submit_tag "Maybe", :class => "btn btn-warning btn-sm" %>
<% end %>
<% end %>

<%= month_calendar partial: 'simple_calendar/calendar', events: @appointments do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to @clients.find(appointment.client_id).full_name, "/appointments_show/#{appointment.id}"  %>
    </div>
  <% end %>
<% end %>


