<h3>Hello this is your inbox</h3>

<% @client_messages.each do |message| %>
<p><%= message.makeup_artist.full_name%></p>
<p><%= message.text %></p>
<%= form_tag "/messages", method: :post do %>
   <div><%= hidden_field_tag :makeup_artist, message.makeup_artist_id %></div>
    <%= text_field_tag :text, "" %>
   </div>
   <div>
    <%= submit_tag 'Send Message!' %>
   </div>
<% end %>
<hr>
<% end %>

