<h3><%= @current_makeup_artist.full_name %>'s</h3>
<h3>Current Inventory </h3>

<div class="row">
<% @items.each do |item|%>
<div class="col-md-6">
<h6><strong><%=item.makeup_items%> Makeup</strong></h6>
<%= form_tag "/makeups/#{item.id}", method: :delete do %> 
<% submit_tag 'Not needed', :class => "btn btn-danger btn-sm" %>
<% end %>
</div>
<div class="col-md-6">
<h6><strong><%=item.makeup_tools%> Tools</strong></h6>
<%= form_tag "/makeups/#{item.id}", method: :delete do %> 
<% submit_tag 'Not needed', :class => "btn btn-danger btn-sm" %>
<% end %>
</div>
<% end %>
</div>