<h2>Appointment Booking</h2>
<%= form_tag '/appointments', method: :post do %>
 <div><%= collection_select :makeup_artist, :makeup_artist_id,  MakeupArtist.all, :id, :full_name %></div>
 <div>
    <%= label_tag :location %>
    <%= text_field_tag :location %>
 </div>
  <div>
    <%= label_tag :date %>
    <%= date_field_tag :date %>
 </div>
  <div>
    <%= label_tag :time %>
    <%= text_field_tag :time %>
 </div>
 <div>
   <%=submit_tag "book" %>
 </div>
 <%end%>