<h2>Appointment Booking</h2>
  <div>
  <%= form_tag '/appointments', method: :post do %>
 <div class = "form-group"><%= collection_select :makeup_artist, :makeup_artist_id,  MakeupArtist.all, :id, :full_name %></div>
 
 <div class="row">
    <div class= "col-xs-4">
      <%= label_tag :location %>
      <%= text_field_tag :location, value = nil,class: 'form-control'%>
    </div>
 </div>

  <div class="row">
    <div class= "col-xs-4">
      <%= label_tag :date %>
      <%= date_field_tag :date, value = nil,class: 'form-control' %>
    </div>
 </div>

  <div class="row">
    <div class= "col-xs-4">
      <%= label_tag :time %>
      <%= text_field_tag :time, value = nil,class: 'form-control'%>
    </div class="row">
 </div>

 <div>
   <%=submit_tag "book", :class => "btn btn-info" %>
 </div>
 <%end%>
 </div>